:root {
  --primary: white;
  --secondary: #eaeaea;
  --highlight: #0070f3;
  --text: #000;

  --text-header: var(--text);
  --text-main-headers: var(--text);
  --text-links: var(--highlight);
  --text-footer: var(--text-header);

  --bg-main: #white;
  --bg-dots: #c7c7c7;
  --bg-lesson: white;

  --nav-buttons: var(--highlight);
  --nav-buttons-text: white;

  --corner-active: var(--highlight);
  --corner-inactive: #f4f4f4;
  --icons: var(--text-header);
  --footer-icons: var(--text-header);

  --emphasized-bg: #fafafa;
  --emphasized-border: #eaeaea;
  --emphasized-text: #eb367f;
}
